doctype html
html
    head
        title= "RSS parser of 057.ua"
    body
        ul
            each entry in entries
                li
                    h3= entry.title
                    if (entry.imgLink)
                        img(src=entry.imgLink)
                    p= entry.post
                    a(href=entry.origLink)= entry.origLink
                    
                